1. Whatever I'm asking for, come up with a plan first, debate it and then ask me about it.
2. My application is written in .NET 9 with C#.
3. My application is a console application at the moment, but we are trying to make it an API.
4. My application strives to be more like Huntarr (https://github.com/plexguide/Huntarr.io).
5. You should focus on the codebase insite the 'code' directory.
6. You should strive to achieve the same level of quality as the rest of the codebase.
7. You should use the same coding style as the rest of the codebase.
8. You should use the same naming conventions as the rest of the codebase.
9. If you are not sure about something, ask me.
10. If you have any suggestions, let me know.
11. Don't add new properties or stuff in general unless you run it by me first or I explicitly tell you to.
12. Try to make the most of what the codebase already has.
13. Check if the code you write is valid and compiles successfully.